@import url('https://fonts.google.com/specimen/Roboto');

  *{
    font-family: "roboto";
  }

  ul{
    list-style-type: none;
  }


nav > ul {
  display: grid;
  width: 100%;
  height: 75px;
  grid-template-columns: 70% 15% 15%;
  list-style: none;
  font-weight: bold;
  font-size: small;
}

.heading{
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  padding-bottom: 3em
}


a:hover{
  color: red;
}

a {
  border-radius: 10px;
  border: 1px solid grey;
  width: 15em;
  height: 3em;
  text-decoration: none;
  color: grey;
  font-size: small;
  text-align: center;
  padding-top: 1em
}

.quote{
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 4em;
  padding-right: 4em;
}

.name{
  text-align: right;
}

.why{
  display: flex;
  flex-direction: row;
  overflow: visible;
  justify-content: space-around;
  align-items: flex-start;
}
.why > li > img{
  float: left;
}

.why > li > p{
  width: 278px;
  margin: 0
}

.teammember{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  line-height: 0.5;
  padding: 2em;
}

.team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 13em;
  margin-left: 13em
}

h2{
  text-align: center;
}

.teamphoto{
  border-radius: 50%;
  padding: 2px;
  border: 1px solid;
}


.sponsors{
  width: 75em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid;
  padding-bottom: 5em;
}

.footer{
  display: flex;
  background-color: grey;

}

h3{
  margin-left: 2em;
}
