html {
  font-family: 'Hind', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin-top: 30px;
}

h2, h3 {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(239,202,8, 0.5);
}

nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 75%;
}

nav ul li:hover {
  text-decoration: underline;
}

nav ul li:nth-of-type(2) {
  grid-column: 4 / 5;
}

nav ul li:last-of-type {
  grid-column: 5 / 6;
}

h1 {
  animation-duration: 8s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

section:first-of-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5.7rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid gray;
  font-weight: bold;
}

sub {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
  border: 0.5px solid gray;
  border-radius: 0.30rem;
  padding: 0.75rem 1rem 0.75rem 1rem;

}

a:link {
  color: #6B7FD7;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: black;
}

.quote {
  padding-bottom: 5.4rem;
  border-bottom: 1px solid gray;
  font-style: italic;
  line-height: 200%;
  text-align: center;
}

.quote blockquote {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2em;
}

.quote blockquote::before {
  content: "\"";
}

.quote blockquote::after {
  content: "\"";
}

.quote p::before {
  content: "--";
}

.quote > p {
  text-align: right;
  float: right;
  margin-right: 15%;
}

.why {
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: 1px solid gray;
  padding-top: 3em;
  padding-bottom: 3em;
}

.why ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 0;
  /* grid-gap: 3em; */
}

.why ul li {
  list-style-type: none;
}

.why ul li img {
  float: left;
}

strong {
  padding-left: 1em;
}

strong::after {
  content: "\A";
}

#team ul{
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

#team img {
  border-radius: 50%;
}

#team ul li{
  list-style-type: none;
}

#team ul li span {
  display: block;
  text-align: center;
  line-height: 2rem;
}

#sponsors {
  border-bottom: 1px solid gray;
  padding-top: 3em;
  padding-bottom: 2em;
}

#sponsors ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

.footer {
  background-color: #140D4F;
  color: #B7B7C9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    "s a . .";
}

.footer h3 {
  text-align: left;
}

.footer ul {
  padding-left: 0;
}

.footer ul li{
  list-style-type: none;
}

.support {
  grid-area: s;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 4rem;
}

.about {
  grid-area: a;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 4rem;
}





/* Consider a grid with 3 flexboxes */
